#ball{
	width:1200px;
	height:950px;
	margin-top:100px;
	position:relative;
	margin-left:300px;
}
#top{
    width:699px;
	height:181px;
	background-image:url(images/index/top.png);
	margin-left:94px;
	background-repeat:no-repeat;
	position:absolute;
	z-index:1;
}
#top:hover{
	background-image:url(images/index/top_click.png);
	transition:all 0.5s;
}
#top:click{
	
	}

#between{
	width:699px;
	height:461px;
	background-image:url(images/index/between.png);
	background-repeat:no-repeat;
	position:absolute;
	top:107px;
	z-index:3;
	
}
#between:hover{
	background-image:url(images/index/between_click.png);
	transition:all 0.5s;
}

#botton{
	width:699px;
	height:208px;
	margin-left:82.5px;
	background-image:url(images/index/buttom.png);
	display:block;
	background-repeat:no-repeat;
	position:absolute;
	top:486px;
	z-index:2;
}
#botton:hover{
	background-image:url(images/index/buttom_click.png);
	transition:all 0.5s;
	}


